p {
 font-family: monospace;

}
.button{

    background-color: blue;
    border: 1px solid;
}
.highlighted {

    background-color: brown;
}
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  
  
  
  main {
    margin-top: 46px;
  }
  

  

  .footer {
    padding: 20px;
    text-align: center;
    background: #dddddd;
  }
  

  

  .article{
  
  flex:80%
  }